html {
  font-size: 62.5%;
}

body {
  width: 980px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1{
  color: skyblue;
  text-align: center;
}

#index{
  text-align: center;
  width: 400px;
  font-size: 250%;
}

h3{
  text-align: center;
  font-size: 300%;
}

.header {
  background-color: skyblue;
  width: 980px;
  height: 50px;
  font-size: 1.5rem;
}

.top_menu li {
  float: left;
  width: auto;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.top_menu li a:hover {
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.footer{
  width: 980px;
  height: 30px;
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  display: table;
}

.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.logo_image {
    max-width: 50%;
    display: block;
    margin: auto;
}

.btn{
  width: 100px;
  height: 30px;
  color: white;
  font-size: 15px;
  background-color: skyblue;
  border: solid gray 1px;
  border-radius: 5px;
}

.blog_title{
  text-align: center;
  width: 400px;
  font-size: 250%;
}

.table{
  margin: auto;
}